{% extends 'base.html' %}

{% block title %}{{ data.document.title }}{% endblock %}

{% block content %}
    <div class="document_info">
        <div class="row">
            <div class="col-8">
                <p class="page_title">{{ data.document.title }}</p>
                <div class = "document_field">
                    <p class="info_title">Документы</p>
                    <p>{{ data.document.docs }}</p>
                </div>
                <div class = "document_field">
                    <p class="info_title">Срок для замены</p>
                    <p>{{ data.document.replace_period }}</p>
                </div>
                <div class="document_field">
                    <p class="info_title">Срок изготовления </p>
                    <p>{{ data.document.prod_period }}
                        {% if data.document.prod_period == 1 %} календарный день
                        {% elif data.document.prod_period > 1 and data.document.prod_period < 5 %} календарных дня
                        {% else %} календарных дней
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col">
                <img class= "document_img" src="{{ data.document.logo_file_path }}" alt="{{ data.document.logo_file_path }}"
                     width="300px">
            </div>
        </div>
    </div>
{% endblock %}
