{% extends 'base.html' %}
{% load static %}

{% block title %}Документы{% endblock %}

{% block content %}
    <form action="" method="get" class="d-flex mt-4 mb-4">
        <div class="flex-grow-1">
            <input class="form-control" placeholder="Поиск" aria-label="Поиск" name="document_title" type="text" value="{{ data.document_title }}">
        </div>
        <div class="px-3">
            <input type="submit" class="btn" value="Поиск">
        </div>
        <div>
            <a href="{% url 'install_document_request' data.request_id %}"
               class="btn{% if data.items_in_cart == 0 %} inactive-cart{% endif %}">
                <img src="http://127.0.0.1:9000/documents/cart.png" width="25" alt="cart">
                {{ data.items_in_cart}}
            </a>
        </div>
    </form>

    <div class="row row-cols-3 m-4">
        {% for document in data.document_list %}
            <div class="col col-rows-4">
                <div class="card m-3">
                    <div class="card_body h-100">
                        <p class="card_title">{{ document.title }}</p>
                        <div class="img_container">
                        <img src="{{ document.logo_file_path }}" class="document-card-img"
                             alt="{{ document.logo_file_path }}">
                        </div>
                        <p class = "card_info"> Срок изготовления: {{ document.prod_period }}
                            {% if document.prod_period == 1 %} календарный день
                            {% elif document.prod_period > 1 and document.prod_period < 5 %} календарных дня
                            {% else %} календарных дней
                            {% endif %}
                        </p>
                        <div class="row">
                            <div class="col">
                                <form method="POST" action="{% url 'add_document_to_cart' document.id%}" style="text-align:right;"> {% csrf_token %}
                                    <button class="btn" name="add_to_cart">Добавить в заявку</button>
                                </form>
                                <div style="text-align:right; margin-right: 5%;">
                                    <a class = "show_more" href="{% url 'document' document.id %}" >Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-danger not-found-alert" role="alert">
                Документ для замены не найден. <a href="{% url 'document_list' %}" class="alert-link">Полный список</a>
            </div>
        {% endfor %}
    </div>
    <div class="py-3"></div>
{% endblock %}
