{% extends 'base.html' %}

{% block title %}Заявка{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <p>Причина замены:</p>
                </div>
                <div class="col">
                    <p class = "field">{{data.replace_data.replacing_request.replace_reason}}</p>
                </div>
            </div>
             <div class="row">
                <div class="col-3">
                    <p>Фамилия:</p>
                </div>
                <div class="col">
                    <p class = "field">{{data.replace_data.replacing_request.new_client_surname}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-1">
                    <p>МФЦ:</p>
                </div>
                <div class="col">
                    <select class = "field">
                        <option>{{data.req_docs_data.issue_organization}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        {% for obj in data.document_list %}
        <div class="card mb-4">
            <div class="col">
                <div class="row">
                    <p class="card_title">
                        <a class="text-black text-decoration-none" href="{% url 'document' obj.document.id %}">{{ obj.document.title }}</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="cart_img_container">
                            <img class="document-card-img" src="{{ obj.document.logo_file_path }}" alt="{{ obj.document.logo_file_path }}" style="max-width: 100%; height: 100px">
                        </div>
                    </div>
                    <div class="col-4">
                         <p class = "card_info"> Срок изготовления: {{ obj.document.prod_period }}
                                {% if document.prod_period == 1 %} календарный день
                                {% elif document.prod_period > 1 and document.prod_period < 5 %} календарных дня
                                {% else %} календарных дней
                                {% endif %}
                         </p>
                    </div>
                </div>
                <div class="row-2">
                    <a class = "show_more" href="{% url 'document' obj.document.id %}" class="btn">Подробнее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-danger not-found-alert" role="alert">
            Корзина пуста
        </div>
    {% endfor %}
    <div>
        {% if data.document_list %}
            <a href="{% url 'delete_request' data.req_id %}" class="btn">Очистить заявку</a>
        {% endif %}
    </div>
{% endblock %}